
#top {
	height: 4em;
}

#title {
  font-family: Helvetica Neue;
  font-weight: 600;
  font-size: 250%;
  margin: .12em 0 .25em .12em;
  display: inline;
  float: left;
}


#nav {
	height: 2em;
	float: right;
	background-color: azure;
	margin: 1.12em 0 .25em .12em;
}



form {
	display: inline;
}

#desc {
	font-family:Georgia;
	font-size: 80%;
	font-weight:400;
	width: 25%;
	display: inline;
	float: left;
	height: 100%;
}

#desc > p {
	margin-top: 5px;
}


.panel-container, .panel {
	display: none;
}

.panel:first-of-type {
	display: block;
}

#map {
	height: 100%;
	width: 75%;
	border: 2px;
	float: left;
}

#maincontainer {
	width:100%;
	background-color: azure;
	height: 700px;
}

#anno {
	height: 100px;
	width: 300px;
	border: 2px;
}

.correct {
	fill: red;
}
.numshow {
	font-family: Century Gothic;
	font-size: 350%;
	font-weight:bold;
	stroke: #34282C;
	stroke-width: 1;
	fill: none;
	text-anchor: start;
	display:block;
}

.reviewsshow {
	font-family: Century Gothic;
	font-size: 110%;
	font-weight:bold;
	stroke: #34282C;
	fill: none;
	stroke-width: .5;
	text-anchor: start;
	display:block;
}
.nameshow {
	font-family: Century Gothic;
	font-size: 80%;
	fill: #34282C;
	text-anchor: start;
	display:block;
}

.tooltiphide {
	display: none;
}
