/*FOUNDATION CUSTOMIZATIONS*/

.top-bar {
	background-color: rgba(255,255,255,.7);
	height: 55px;
}

#nav {
	float: right;
	margin-right: 30px;
}

#nav button {
  border-radius: 5px;
  padding: 5px 12px;
  background-color: transparent;
  color: rgb(52, 164, 223);
  border: 1px solid;
  margin-right:5px;
}

section.shell {
	display: none;
}

body {
	background-color: #CDD2D4;
}

/*OLDER CODE*/

#title {
  font-family: Helvetica Neue;
  font-weight: 600;
  font-size: 250%;
  margin: .12em 0 .25em .12em;
  display: inline;
  float: left;
}


form {
	display: inline;
}

#desc {
	font-family:Georgia;
	font-size: 80%;
	font-weight:400;
	width: 25%;
	display: inline;
	float: left;
	height: 100%;
}

#desc > p {
	margin-top: 5px;
}


.panel-container, .panel {
	display: none;
}

.panel:first-of-type {
	display: block;
}

#mapsBox {
	height: 575px;
	width: 75%;
	margin-top: 75px;
	border: 0px black solid;
	float: right;
}

.maps {
  height: 50%;
  width: 30%;
  margin: 0px 5px 15px 25px;
  float: left;
  font-family: Helvetica Neue;
  font-size: 80%;
  font-weight: 500;
}

.mapcontent {
  height: 95%;
  width: 100%;
  float: left;
}
	
#maincontainer {
	width:100%;
	background-color: azure;
	height: 700px;
}

#anno {
	height: 100px;
	width: 300px;
	border: 2px;
}

.correct {
	fill: red;
}
.numshow {
	font-family: Century Gothic;
	font-size: 350%;
	font-weight:bold;
	stroke: #34282C;
	stroke-width: 1;
	fill: none;
	text-anchor: start;
	display:block;
}

.reviewsshow {
	font-family: Century Gothic;
	font-size: 110%;
	font-weight:bold;
	stroke: #34282C;
	fill: none;
	stroke-width: .5;
	text-anchor: start;
	display:block;
}
.nameshow {
	font-family: Century Gothic;
	font-size: 80%;
	fill: #34282C;
	text-anchor: start;
	display:block;
}

.tooltiphide {
	display: none;
}
